/* 边距 */
.mb10{
  margin-bottom: 10px;
}

.mb30{
  margin-bottom: 30px;
}

.mb60{
  margin-bottom: 60px;
}

.mr10{
  margin-right: 10px;
}

.mr30{
  margin-right: 30px;
}

.ml10{
  margin-left: 10px;
}

.ml20{
  margin-left: 20px;
}

.ml30{
  margin-left: 30px;
}

/* 布局 */
.flex{
  display: flex;
}

.flex_center{
  display: flex;
  justify-content: center;
}

.flex_alignCenter{
  display: flex;
  align-items: center;
}

.flex_spaceBetween{
  display: flex;
  justify-content: space-between;
}

/* 字号 */
.font18{
  font-size: 18px;
}


.font20{
  font-size: 20px;
}

.font22{
  font-size: 22px;
}

.font24{
  font-size: 24px;
}

.font26{
  font-size: 26px;
}


.font30{
  font-size: 30px;
}

/* 长宽 */
.w100{
  width: 100%;
}

/* 颜色 */
.colorfff{
  color: #fff;
}